<div class="row mt-5">
    
    <div class="col-lg-1 col-sm-1 row mrr">
        <button class="TransBtn btCss" id="First"><<|</button>
    </div>
    <div class="col-lg-1 col-sm-1 row mrr">
        <button class="TransBtn btCss" id="Next"><</button>
    </div>
    <div class="col-lg-1 col-sm-2 row mrr">
        <button class="OprBtn btCss" id="Search">بحث</button>
    </div>
    <div class="col-lg-1 col-sm-2 row mrr">
        <button class="OprBtn btCss" id="Delete">حذف</button>
    </div>
    <div class="col-lg-1 col-sm-2 row mrr">
        <button class="OprBtn btCss" id="Save">حقظ</button>
    </div>
    <div class="col-lg-1 col-sm-2 row mrr">
        <button class="OprBtn btCss" id="Update">تعديل</button>
    </div>
    <div class="col-lg-1 col-sm-2 row mrr">
        <button class="OprBtn btCss" id="New">جديد</button>
    </div>
    <div class="col-lg-1 col-sm-2 row mrr">
        <button class="TransBtn btCss" id="Prev">></button>
    </div>
    <div class="col-lg-1 col-sm-2 row mrr2">
        <button class="TransBtn btCss" id="Last">|>></button>
    </div>
    <div class="col-lg-3 col-sm-12 row">
        <input class="col-lg-8" />
        <label class="col-lg-4">اسم العميل</label>
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg-4 row">
        <input class="col-lg-8" />
        <label class="col-lg-4">اسم الصنف</label>
    </div>
    <div class="col-lg-4 row">
        <select class="col-lg-8">
            <option>مبيعات</option>
            <option>مشتريات</option>
        </select>
        <label class="col-lg-4">نوع الفاتورة</label>
    </div>
    <div class="col-lg-4 row">
        <input class="col-lg-8" />
        <label class="col-lg-4">رقم الفاتورة</label>
    </div>
</div>
<div class="row  mt-3">
    <div class="col-lg-4 row">
        <input class="col-lg-8" type="date"/>
        <label class="col-lg-4">تاريخ الدفع</label>
    </div>
    <div class="col-lg-4 row">
        <select class="col-lg-8">
            <option>نقدي</option>
            <option>اجل</option>
        </select>
        <label class="col-lg-4">طريقة الدفع</label>
    </div>
    <div class="col-lg-4 row">
        <input class="col-lg-8" />
        <label class="col-lg-4">اسم البائع</label>
    </div>
</div>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">الكمية</th>
            <th scope="col">السعر</th>
            <th scope="col">الخصم</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><input/></td>
            <td><input/></td>
            <td><input/></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><input/></td>
            <td><input/></td>
            <td><input/></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><input/></td>
            <td><input/></td>
            <td><input/></td>
        </tr>
    </tbody>
</table>